<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .class1{
            border:1px solid green
        }
        .completed{
           text-decoration: line-through;
           color:#949494
        }
    </style>
</head>

<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <h3>Todos</h3>
                <input type="text" v-model="newTodo" @keyup.enter="addTodo" class="form-control" autofocus autocomplete="off" placeholder="想要做甚麼?">
                <ul class="list-group mt-3">
                    <li v-for="(todo, i) in todos" class="list-group-item" :key="i">
                        <div v-if="editedTodo !== todo" class="d-flex justify-content-between">
                            <div>
                                <input v-model="todo.completed" class="form-check-input me-3" type="checkbox">
                                <!--{css class名稱:Boolean}-->
                                <!--如果Boolean為true表示要用套用css class的樣式-->
                                <label @dblclick="editTodo(todo)" :class="{completed:todo.completed}" class="form-check-label">{{i}} - {{ todo.title }}</label>
                            </div>
                            <button @click="removeTodo(todo)" class="badge bg-danger rounded-pill border-0">X</button>
                        </div>
                        <input v-else v-model="todo.title" @blur="doneEdit(todo)" 
                        @keyup.enter="doneEdit(todo)" @keyup.escape="cancelEdit(todo)" type="text" class="form-control">
                    </li>  
                </ul>
                <div class="mt-3 d-flex justify-content-between">
                    <strong class=" me-3">尚有 {{remaining}} 個工作未完成</strong>
                    <button class="btn btn-warning me-3" @click="removeCompleted">清除完成工作</button>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <script>
        const { createApp } = Vue
        const app = createApp({
            //options api
            data(){
                return{
                    todos:JSON.parse(localStorage.getItem("todos") || '[]'),
                    // [
                    //    0: {"id": 1, "title": "作業1", "completed": true },
                    //    
                    //    1: {"id": 3, "title": "作業3", "completed": false },
                    //    2: {"id": 4, "title": "作業3", "completed": true },
                    //    3: {"id": 5, "title": "作業3", "completed": false },
                    //     
                    // ],
                    newTodo:'',
                    editedTodo:null,
                    beforeEditCache : ''

                  
                }
            },
            methods:{
                addTodo(){
                    //console.log(this.newTodo)
                    //true && 程式會執行 => true
                    //false && 程式沒有執行的需要 => false
                    //false && false => false
                    const value = this.newTodo && this.newTodo.trim()
                    if(!value){
                        return
                    }
                    let id = 1
                  if(this.todos.length > 0){
                    id = this.todos[this.todos.length-1].id+1
                  }
                    this.todos.push({"id":id,"title":value,"completed":false})
                   this.newTodo=''   
                },
                removeTodo(item){
                  //  console.log(index)
                  // console.log(item)
                   //取出要刪除todo在陣列中位置的索引值
                 const index = this.todos.indexOf(item) //1 找不到回傳-1
                  //刪除splice(從甚麼位置,刪除幾筆資料)
                  this.todos.splice(index,1)                  

                },
                removeCompleted(){
                //  let arrays =  this.todos.filter(function(value,index,array){
                //       //value => {"id": 1, "title": "作業1", "completed": true }
                //       //index => 0
                //       //array => [{true},{false},{true}]
                //       return true
                //    })
                //    //arrays = [{true},{true}]
                 //保留 todo.completed = false
                this.todos = this.todos.filter(todo => !todo.completed)
                },
                editTodo(todo){
                    this.editedTodo = todo
                    this.beforeEditCache = todo.title
                },
                doneEdit(todo){
                    todo.title = todo.title.trim()
                    this.editedTodo = null
                },
                cancelEdit(todo){
                   todo.title =  this.beforeEditCache
                   this.editedTodo = null
                }
            },
            watch:{
                //監控newTodo的資料有沒有異動
                //有，就執行handler這個function
                newTodo:{
                    handler(newTodo){
                        localStorage.setItem("todo",newTodo)
                    }
                },
                todos:{
                    // handler(newTodos,oldTodos){
                    handler(todos){
                        localStorage.setItem("todos",JSON.stringify(todos))
                    },
                    deep:true
                }
                 
            },
            computed:{
                remaining(){
                  let notFinished =  this.todos.filter(todo=>!todo.completed)                 
                    return notFinished.length
                }
            }
       
        })
        app.mount('#app')

        console.log(localStorage.getItem("key1"))
    </script>
</body>

</html>